server:
  port: 8083
spring:
  datasource:
    url: jdbc:h2:mem:notification-service;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2
springdoc:
  swagger-ui:
    path: /swagger-ui.html
